/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */
@font-face {
  font-family: 'DuoBaoTaBei';
  src: url(https://qiniu.miyamura.top/fonts/JiZiJingDianKaiTiJianFan-Shan%28GEETYPE-KaiTiGBT-Flash%29-2.ttf);
  font-display: swap;
  // font-weight: lighter;
}

@font-face {
  font-family: 'Yuki';
  src: url(https://qiniu.miyamura.top/fonts/YujiSyuku-Regular.ttf);
  font-display: swap;
  // font-weight: lighter;
}

/* @font-face {
  font-family: 'DuoBaoTaBei','Yuki';
  src: url(https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600&display=swap);
  font-display: swap;
} */

div#menus {
  font-family: 'DuoBaoTaBei','Yuki';
}
h1#site-title {
  font-family: 'DuoBaoTaBei','Yuki';
  font-size: 3em !important;
}

/* span.card-clock-weather,
span.card-clock-windDir,
span.card-clock-location {
  font-family: 'DuoBaoTaBei' !important;
} */

a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: 'DuoBaoTaBei','Yuki';
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 时间轴生肖icon */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-zhongbiao::before {
  color: #f7c768;
}

/* bilibli番剧插件 */
#article-container .bangumi-tab.bangumi-active {
  background: var(--anzhiyu-theme);
  color: var(--anzhiyu-ahoverbg);
  border-radius: 10px;
}
a.bangumi-tab:hover {
  text-decoration: none !important;
}
.bangumi-button:hover {
  background: var(--anzhiyu-theme) !important;
  border-radius: 10px !important;
  color: var(--anzhiyu-ahoverbg) !important;
}
a.bangumi-button.bangumi-nextpage:hover {
  text-decoration: none !important;
}
.bangumi-button {
  padding: 5px 10px !important;
}

a.bangumi-tab {
  padding: 5px 10px !important;
}
svg.icon.faa-tada {
  font-size: 1.1em;
}
.bangumi-info-item {
  border-right: 1px solid #f2b94b;
}
.bangumi-info-item span {
  color: #f2b94b;
}
.bangumi-info-item em {
  color: #f2b94b;
}

/* 解决artitalk的图标问题 */
#uploadSource > svg {
  width: 1.19em;
  height: 1.5em;
}

opacityValue = 0.6
vpacityRange = 14px

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, opacityValue);
  backdrop-filter: blur(14px) saturate(150%);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, opacityValue);
  backdrop-filter: blur(14px) saturate(150%);
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, opacityValue);
  backdrop-filter: blur(14px) saturate(150%);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, opacityValue);
  backdrop-filter: blur(14px) saturate(150%);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, opacityValue);
  backdrop-filter: blur(14px) saturate(150%);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, opacityValue);
  backdrop-filter: blur(14px) saturate(150%);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, opacityValue);
  backdrop-filter: blur(14px) saturate(150%);
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #recent-posts > .recent-post-item {
  background: #121212;
}

[data-theme="dark"] .card-widget {
  background: #121212 !important;
}

[data-theme="dark"] div#post {
  background: #121212 !important;
}

[data-theme="dark"] div#tag {
  background: #121212 !important;
}

[data-theme="dark"] div#archive {
  background: #121212 !important;
}

[data-theme="dark"] div#page {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: transparent !important;
}

#rightside > div > button {
  border-radius: 5px;
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

/*
::-webkit-scrollbar-thumb {
  background-color: #006666;
  border-radius: 1em;
} */

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #006666;
}

/* 评论框  */
.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}

/* 设置评论框 */

.vcard {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}

/* md网站下划线 */
#article-container a:hover {
  text-decoration: none !important;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 404页面 */
#error-wrap {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  transform: translate(0, -50%);
}

#error-wrap .error-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 18rem;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  transition: all 0.3s;
}

#error-wrap .error-content .error-img {
  box-flex: 1;
  flex: 1;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #3b70fc;
  background-position: center;
  background-size: cover;
}

#error-wrap .error-content .error-info {
  box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}
#error-wrap .error-content .error-info .error_title {
  margin-top: -4rem;
  font-size: 9em;
}
#error-wrap .error-content .error-info .error_subtitle {
  margin-top: -3.5rem;
  word-break: break-word;
  font-size: 1.6em;
}
#error-wrap .error-content .error-info a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  background: var(--btn-bg);
  color: var(--btn-color);
}

#body-wrap.error .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
  padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  background: var(--anzhiyu-card-bg);
  display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
  display: none;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}

#archive,#page,#category,#tag{
    width:100%;
}
.page:not(.page.home) .aside-content{
    display: none;
}

/* 白天主题下的配置 */
#aside-content>.card-widget.card-info {
    // background-image: url('/img/background-img9.jpg');
	background-image: url('https://qiniu.miyamura.top/images/background/diya.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
}

/* 黑暗主题下的配置 */
[data-theme=dark] #aside-content>.card-widget.card-info {
    background-image: url('/img/background-img9.jpg') !important
}

/* 文章页 静态顶部图模糊 */
// .post-bg::before {
// 	backdrop-filter:blur(10px) saturate(180%);
// 	-webkit-backdrop-filter:blur(10px) saturate(180%);
// }

/* 文章页 动态顶部图模糊 */
/*
@keyframes blurAnime {
	from {
		backdrop-filter:blur(0) saturate(180%);
		-webkit-backdrop-filter:blur(0) saturate(180%);
	}
	to {
		backdrop-filter:blur(12px) saturate(180%);
		-webkit-backdrop-filter:blur(12px) saturate(180%);
	}
}

.post-bg::before {
	animation: blurAnime 3s ease-in-out infinite alternate;
} */

/* 文章页 顶部图悬停取消模糊 */
.post-bg::before {
	backdrop-filter:blur(10px) saturate(180%);
	-webkit-backdrop-filter:blur(10px) saturate(180%);
	transition: backdrop-filter 0.3s ease-in-out;
}

.post-bg:hover::before {
	backdrop-filter:blur(0) saturate(180%);
	-webkit-backdrop-filter:blur(0) saturate(180%);
}

/* icat_change 顶图大波浪 */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 3rem;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #ffffffbd;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #ffffff82;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #ffffff36;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #ffffff;
}

[data-theme="dark"] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #070709c8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #07070980;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #0707093e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #070709;
}
/* 黑色模式背景 */

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}

/* 波浪样式 */
