@font-face {
  font-family: 'DuoBaoTaBei';
  font-display: swap;
  // src: url('/fonts/DuoBaoTaBei.ttf'); 
  // src: url('/fonts/MaShanZheng-Regular.ttf');  
  src: url('https://qiniu.miyamura.top/fonts/JiZiJingDianKaiTiJianFan-Shan%28GEETYPE-KaiTiGBT-Flash%29-2.ttf'); 
}
body {
  font-family: 'DuoBaoTaBei';
}