@import '../_global/function'

/* higher post cards, now deprecated. */

#recent-posts
  & > .recent-post-item:not(:first-child)
    margin-top: 20px

  & > .recent-post-item
    @extend .cardHover
    display: flex
    flex-direction: row
    align-items: center
    overflow: hidden
    height: 19.2em

    +maxWidth768()
      flex-direction: column
      height: auto


// #page-header
//   transition: backdrop-filter 0.3s ease-in-out
// 
//   &:hover
//     backdrop-filter: blur(14px) saturate(150%)


// #page-header
//   backdrop-filter: blur(14px) saturate(150%)
//   transition: backdrop-filter 0.3s ease-in-out

//   &:hover
//     backdrop-filter: none

/* 首页分类条展示 */
#category-bar-list{
    padding: 0.4rem 1rem 0.4rem 0.5rem;
    background: var(--heo-card-bg);
    border-radius: 12px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: var(--style-border);
  }
  
  @media screen and (max-width: 768px){
    #category-bar-list{
      border-radius: 0;
    }
  }
  
  #category #category-bar-list{
    padding: 0;
    border: none;
  }
  
  #category a.category-bar-list-item.select a{
    display: none;
  }
  
  .category-in-bar{
    display: flex;
    white-space: nowrap;
  }
  
  .category-in-bar-tips{
    margin-right: 1rem;
  }
  
  .category-bar-list-items{
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
  }
  
  
  
  .category-bar-list-items::-webkit-scrollbar{
    display: none;
  }
  
  .category-bar-list-item a{
    padding: 0.1rem 0.5rem;
    margin: 0 0.25rem;
    font-weight: bold;
    border-radius: 12px;
  }
  
  .category-bar-list-item:hover a{
    background: var(--heo-main);
    color: var(--heo-white);
  }
  
  .category-bar-list-item.select a {
    background: var(--heo-main);
    color: var(--heo-white);
    border-radius: 12px;
  }
  
  .category-bar-list-more{
    margin-left: 1rem;
    font-weight: bold;
  }