#recent-posts
  & >.recent-post-info
    display: inline-block
    overflow: hidden
    padding: 50px 40px
    width: 55%

    & > .article-title
      display: -webkit-box
      overflow: hidden
      margin-bottom: 1.2rem
      color: $font-black
      text-overflow: ellipsis
      word-wrap: break-word
      font-size: 1.2rem
      line-height: 1.5
      transition: all .2s ease-in-out
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2

    & > .content
      display: -webkit-box
      overflow: scroll
      margin-top: .2rem
      height: 97px
      word-break: break-word
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
