#category-bar-list
    .category-bar-list-items#category-bar-list-items
        .category-bar-list-item(id='首页')
            a(href="/") 首页
        .category-bar-list-item(id='论文阅读')
            a(href="/categories/") 论文阅读
        .category-bar-list-item(id='Arch')
            a(href="/categories/") Arch
        .category-bar-list-item(id='Terminal')
            a(href="/categories/") Terminal
    a.category-bar-list-more(href="/categories/") 更多
