extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    include includes/categoryBarList.pug
    +postUI
    include includes/pagination.pug